:root{
    --color:#E5E7EB;
}

*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    display:flex;
    height: 100vh;
    width: 100vw;
    padding:0;
    margin:0;
}

.container.right{
    background-color: var(--color);
}

.container.left{
    display: flex;
}

img{
    min-width: 40vw;
}

.container.right{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60vw;
    padding:25px;
    margin:0;
}

form{
    display: flex;
    gap: 20px;
    justify-content: center;
    margin:0;
    padding: 25px;
    width: 60vw;
    background-color: white;
    box-shadow: 10px;
}

.form{
    gap: 15px;
    overflow: hidden;
}

.form.left{
    display: flex;
    flex-direction: column;
}

.form.right{
    display: flex;
    flex-direction: column;
}

input, label{
    display: block;
    border-radius: 3px;
    width: 220px;
    height: 25px;
}

input{
    border-color: var(--color);
}

button{
    background-color:#596D48;
    color:white;
    border: 0;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
}

button:hover{
    background-color: #3a482e;
}

button:active{
    background-color: black;
}

input:focus{
    outline: none;
    border: 2px solid rgb(48, 88, 198);
    box-shadow: 3px;
}

.log-in{
    display: flex;
    gap:5px;
}